:root {
    --primary-color: #10b0f4;
    --text-color: #333;
    --white-color: #fff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body {
    background-color: #f5f5f5;
}

html {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.player {
    position: relative;
    max-width: 480px;
    margin: 0 auto;
}


/* Dark mode */
.player.dark-mode .dashboard {
    background-color: #333;
}

.player.dark-mode .dashboard header h2,
.player.dark-mode .dashboard .control i,
.player.dark-mode .dashboard .time,
.player.dark-mode .dashboard .utils i {
    color: var(--white-color);
}

.player.dark-mode .dashboard .utils #volume {
    accent-color: var(--white-color);
}

.player.dark-mode .dashboard .control .btn-repeat.active i,
.player.dark-mode .dashboard .control .btn-random.active i {
    color: var(--primary-color);
}

.player.dark-mode .playlist .song {
    background-color: #333;
}

.player.dark-mode .playlist .song .title,
.player.dark-mode .playlist .song .option {
    color: var(--white-color);
}

.player.dark-mode .playlist .song .author {
    color: #ccc;
}

.player.dark-mode .playlist .song.active {
    border: 5px solid var(--primary-color);
}

.player.dark-mode .progress {
    background: #666;
}

.player.dark-mode .toggle-theme {
    color: var(--white-color);
    border: 1px solid #555;
}
.dashboard,
.dashboard header h2,
.dashboard .control i,
.dashboard .time,
.dashboard .utils i,
.dashboard .utils #volume,
.playlist .song,
.playlist .song .title,
.playlist .song .option,
.playlist .song .author,
.playlist .song.active,
.progress,
.toggle-theme {
    transition: all 0.2s linear;
}
/* Dark mode end */

.player .icon-pause {
    display: none;
}

.player.playing .icon-pause {
    display: inline-block;
}

.player.playing .icon-play {
    display: none;
}

.dashboard {
    padding: 16px 16px 14px;
    background-color: #fff;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 500px;
    border-bottom: 1px solid #ebebeb;
    border-radius: 10px;
}

/* HEADER */
header {
    text-align: center;
    margin-bottom: 10px;
}

header h4 {
    color: var(--primary-color);
    font-size: 12px;
}

header h2 {
    color: var(--text-color);
    font-size: 20px;
}

/* Utils */
.utils {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-volume {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-right: auto;
}

.btn-volume i {
    color: var(--text-color);
    font-size: 18px;
}

.btn-volume.active #volume {
    display: block;
}

#volume {
    -webkit-appearance: slider-vertical;
    position: absolute;
    top: calc(100% + 5px);
    width: 10px;
    height: 100px;
    display: none;
    accent-color: var(--text-color);
}

.toggle-theme {
    margin-left: auto;
}

/* CD */
.cd {
    display: flex;
    margin: auto;
    width: 200px;
}

.cd-thumb {
    width: 100%;
    padding-top: 100%;
    border-radius: 50%;
    background-color: #333;
    background-size: cover;
    margin: auto;
}

/* CONTROL */
.control {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 18px 0 8px 0;
}

.control .btn {
    color: #666;
    padding: 18px;
    font-size: 18px;
}

.control .btn.active {
    color: var(--primary-color);
}

.control .btn-toggle-play {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    font-size: 24px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
}



.progress {
    width: 100%;
    -webkit-appearance: none;
    height: 6px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

.progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 6px;
    background-color: var(--primary-color);
    cursor: pointer;
}

/* Time */
.time {
    display: flex;
    justify-content: space-between;
    color: var(--text-color);
    pointer-events: none;
}

/* PLAYLIST */
.playlist {
    margin-top: 436px;
    padding: 12px;
}

.song {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    background-color: #fff;
    padding: 8px 16px;
    border-radius: 10px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.song.active {
    border: 5px solid var(--primary-color);
}

.song:active {
    opacity: 0.8;
}

.song .thumb {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-size: cover;
    margin: 0 8px;
}

.song .body {
    flex: 1;
    padding: 0 16px;
}

.song .title {
    font-size: 18px;
    color: var(--text-color);
}

.song .author {
    font-size: 12px;
    color: #999;
}

.song .option {
    padding: 16px 8px;
    color: #999;
    font-size: 18px;
}