:root {
    --primary-color: #10b0f4;
    --text-color: #333;
    --white-color: #fff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body {
    background-color: #f5f5f5;
    background-image: url('https: //i.ytimg.com/vi/jTLhQf5KJSc/maxresdefault.jpg');
}

html {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(40px);
    z-index: -1;
    transform: scale(1.1);
    transition: background-image 0.3s linear;
}

.player {
    position: relative;
    max-width: 480px;
    margin: 0 auto;
}


/* Dark mode*/
.player.dark-mode .dashboard {
    background-color: #333;
    border-bottom: 1px solid #444;
}

.player.dark-mode .dashboard header h2,
.player.dark-mode .dashboard .control i,
.player.dark-mode .dashboard .time,
.player.dark-mode .dashboard .utils i {
    color: var(--white-color);
}

.player.dark-mode .dashboard .utils #volume {
    accent-color: var(--white-color);
}

.player.dark-mode .dashboard .control .btn-repeat.active i,
.player.dark-mode .dashboard .control .btn-random.active i {
    color: var(--primary-color);
}

.player.dark-mode .playlist .song {
    background-color: #333;
}

.player.dark-mode .playlist .song .title,
.player.dark-mode .playlist .song .option {
    color: var(--white-color);
}

.player.dark-mode .playlist .song .author {
    color: #ccc;
}

.player.dark-mode .playlist .song.active {
    border: 5px solid var(--primary-color);
}

.player.dark-mode .progress {
    background: #666;
}

.dashboard,
.dashboard header h2,
.dashboard .control i,
.dashboard .time,
.dashboard .utils i,
.dashboard .utils #volume,
.dashboard .control .btn-repeat.active i,
.dashboard .control .btn-random.active i,
.playlist .song,
.playlist .song .title,
.playlist .song .option,
.playlist .song .author,
.playlist .song.active,
.progress,
.toggle-theme,
.player.dark-mode .option-modal {
    transition: all 0.2s linear
}
/* Dark mode end */

.player .icon-pause {
    display: none;
}

.player.playing .icon-pause {
    display: inline-block;
}

.player.playing .icon-play {
    display: none;
}

.dashboard {
    padding: 16px 16px 14px;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 500px;
    border-bottom: 1px solid #ddd;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.search {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
}

.search input {
    width: 100%;
    height: 36px;
    border: 2px solid #ddd;
    border-radius: 12px;
    padding: 8px 16px;
    font-size: 15px;
}

.search i {
    position: absolute;
    right: 12px;
    color: var(--text-color);

}

.player.dark-mode .search input {
    background-color: #333;
    border: 1px solid #666;
    color: var(--white-color);
}

.player.dark-mode .search i {
    color: #666;
}

.search input:focus {
    outline: none;
}


/* HEADER */
header {
    text-align: center;
    margin-bottom: 10px;
}

header h4 {
    color: var(--primary-color);
    font-size: 12px;
}

header h2 {
    color: var(--text-color);
    font-size: 20px;
}

/* Utils */
.utils {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-volume {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.btn-volume i {
    color: var(--text-color);
    font-size: 18px;
}

.btn-volume.active #volume {
    display: block;
}

#volume {
    -webkit-appearance: slider-vertical;
    position: absolute;
    top: calc(100% + 8px);
    height: 90px;
    display: none;
    accent-color: var(--text-color);
    outline: none;
    border: none;
}

#volume::-webkit-slider-thumb {
    cursor: pointer;
}

.dashboard .dashboard-option {
    position: relative;
    cursor: pointer;
    /* remove the blue select effect */
    -webkit-tap-highlight-color: transparent;
}

.option-modal {
    position: absolute;
    top: calc(100% + 3px);
    right: 0;
    min-width: 180px;
    background-color: var(--white-color);
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 10;
    display: none;
    user-select: none;
}

.option-modal.active {
    display: block;
}

.player.dark-mode .option-modal {
    background-color: #444;
}

.player.dark-mode .option-modal li {
    color: var(--white-color);
}

.option-modal .option-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.option-modal .option-list li {
    padding: 10px 16px;
    color: var(--text-color);
}

.option-modal .option-list li:hover {
    cursor: pointer;
    color: var(--primary-color);
}

.option-modal .option-list .favorites:hover,
.player.dark-mode .option-modal .option-list .favorites:hover i {
    color: #ff4081;
}

.option-modal .option-list .add-song:hover,
.player.dark-mode .option-modal .option-list .add-song:hover i {
    color: var(--primary-color);
}

/* CD */
.cd {
    display: flex;
    margin: auto;
    width: 200px;
}

.cd-thumb {
    width: 100%;
    padding-top: 100%;
    border-radius: 50%;
    background-color: #333;
    background-size: cover;
    margin: auto;
}

/* CONTROL */
.control {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 18px 10px 8px;
}

.control .btn {
    color: #666;
    padding: 18px;
    font-size: 18px;
}

.control .btn.active {
    color: var(--primary-color);
}

.control .btn-toggle-play {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    font-size: 24px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
}

.progress {
    width: 100%;
    height: 4px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    accent-color: var(--primary-color);
    border: none;
}

.progress::-webkit-slider-thumb {
    transform: scale(0.75);
}

/* Time */
.time {
    display: flex;
    justify-content: space-between;
    color: var(--text-color);
    pointer-events: none;
}

/* PLAYLIST */
.playlist {
    margin-top: 479px;
    padding: 12px;
}

.song {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    background-color: #fff;
    padding: 8px 16px;
    border-radius: 10px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.song.active {
    border: 5px solid var(--primary-color);
}

.song:active {
    opacity: 0.8;
}

.song .thumb {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-size: cover;
    margin: 0 8px;
}

.song .body {
    flex: 1;
    padding: 0 16px;
}

.song .title {
    font-size: 18px;
    color: var(--text-color);
}

.song .author {
    font-size: 12px;
    color: #999;
}

.song .option {
    padding: 16px 8px;
    color: #999;
    font-size: 18px;
}